@import "tailwindcss";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Remove mobile tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

/* FIXED LIGHT MODE */
body {
  background-color: #ffffff;
  color: #1f2937; /* Tailwind gray-800 */
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional: recharts cleanup */
.recharts-clean svg {
  border: none !important;
  outline: none !important;
}
