@import "tailwindcss";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Remove mobile tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

/* FIXED LIGHT MODE */
body {
  background-color: #ffffff;
  color: #1f2937; /* Tailwind gray-800 */
  font-family: Arial, Helvetica, sans-serif;
}

/* Optional: recharts cleanup */
.recharts-clean svg {
  border: none !important;
  outline: none !important;
}

/* globals.css */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
